@font-face {
    font-family: "Syne";
    src: url("../../fonts/syne/Syne-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Syne";
    src: url("../../fonts/syne/Syne-ExtraBold.ttf");
    font-weight: 900;
}