:root {
    --primary-font: "Syne";
    --secondary-font: "Poppins";
    --main-color: #6A6767;
    --secondary-color: #2C3E50;
    --third-color: #FF7F7F;
    --fourth-color: #A9A9A9;
    --fifth-color: #EDE8E5;
    --sixth-color: #D9D9D9;
}