@import "../assets/css/helpers/mixins";
.about__wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    @include displayFlex(center, space-between);

    .left__part,
    .right__part {
        width: 50%;
    }

}