.rectangle {
    width: 330px; 
    height: 430px; 
    background-color: white; 
    border-radius: 30px;
    position: relative;
    .PostItArrow {
        position: absolute;
        top: 367px;
        left: 250px;
    }
}
.item {
    border-bottom: 1px solid var(--color-border);
    padding: 20px;
    color: inherit;
    top: 147px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item h2 {
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-family: var(--primary-font);
    font-size: 28 px;
}
.id{
    color: #FF7F7F;
    font-family: var(--primary-font);
    font-size: 40px;
    text-align: right;
}


